#g1{
  width: 980px;
  height: 50px;
  background: #000;
  box-shadow: 0px 10px 20px black;
  background-image:url(f1/1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  border: 10px darkred outset;
  background-size: 50px;
  color: darkred;
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
}
#j1{
  color: gold;
  text-align: center;
}
#j2{
  color: gold;
  font-size: 30px;
}
#g2{
  color: darkred;
  width: 960px;
  height: 90px;
  background: black;
  text-align: center;
  font-size: 50px;
}
#g3{
  width: 960px;
  height: 150px;
  color: darkred;
  text-align: center;
  font-size: 90px;
  border: darkred outset 20px;
  background: black;
}
#g4{
  width: 470px;
  color: darkred;
  font-size: 50px;
}
#g5{
  width: 960px;
  height: 150px;
  color: darkred;
  background: black;
  text-align: center;
  font-size: 85px;
  border: darkred outset 20px;
}
#p1{
  width: 290px;
  height: 100px;
  color: darkgreen;
  background: black;
  border: darkgreen 10px outset;
  left: 330px;
  font-size: 30px;
  text-align: center;
  margin-right: 350px;
}
#p2{
  width: 290px;
  height: 100px;
  color: darkblue;
  background: black;
  border: darkblue 10px outset;
  font-size: 30px;
  text-align: center;
margin-top: -150px;
}
#p3{
  width: 290px;
  height: 100px;
  color: red;
  background: black;
  border: red 10px outset;
  font-size: 30px;
  text-align: center;
  margin-right: 700px;
  margin-top: -150px;
}
#i1{
  width: 290px;
  height: 410px;
  background: black;
  border: darkred 10px outset;
  background-image:url(f1/1.png) ;
  background-size: 290px;
  margin-top: 10px;
  margin-right: 350px;
}
#i2{
  width: 290px;
  height: 410px;
  background: black;
  border: darkred 10px outset;
  background-image:url(f1/2.png);
  background-size: 290px;
  margin-top: -445px;
}
#i3{
  width: 290px;
  height: 410px;
  background: black;
  border: darkred outset 10px;
  background-image:url(f1/3.png);
  background-size: 290px;
  margin-right: 700px;
  margin-top: -447px;
}
#p4{
  width: 290px;
  height: 100px;
  color: yellow;
  background: black;
  border: yellow 10px outset;
  font-size: 30px;
  text-align: center;
  margin-right: 150px;
}
#p5{
  width: 290px;
  height: 100px;
  color: orange;
  background: black;
  border: orange 10px outset;
  text-align: center;
  font-size: 30px;
  top: 2297px;
  margin-right: 500px;
  margin-top: -150px;
}
#i4{
  width: 290px;
  height: 410px;
  background: black;
  border: darkred outset 10px;
  background-image:url(f1/4.png);
  background-size: 290px;
  margin-right: 150px;
  margin-top: -15px;
}
#i5{
  width: 290px;
  height: 410px;
  background: black;
  border: darkred 10px outset;
  background-image:url(f1/5.png);
  background-size: 290px;
  margin-right: 500px;
  margin-top: -447px;
}
#c1{
  width: 960px;
  color: darkred;
  background: black;
  border:20px darkred outset;
  text-align: center;
  font-size: 70px;
}
#c2{
  color: darkred;
  font-size: 35px;
}
#c3{
  width: 200px;
  color: darkred;
  font-size: 35px;
  margin-top: -97.5px;
  margin-right: 310px;
}
#c4{
  width: 400px;
  color: darkred;
  font-size: 35px;
  margin-top: -97.5px;
  margin-right: 596px;
}
#s1{
  width: 960px;
  color: darkred;
  background: black;
  border: darkred outset 20px;
  font-size: 80px;
  text-align: center;
}
#s2{
  width: 960px;
  color: red;
  text-align: center;
  font-size: 40px;
}
#s3{
  width: 960px;
  color: gold;
  text-align: center;
  font-size: 50px;
}
body{
 background-color: black;
 background-image: url(f1/2.jpg);
 background-size: 995px;
 background-repeat: no-repeat;
 background-position: right;
 background-attachment: fixed;
}